/* Custom */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  background-color: #23272f;
  color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
}

.header_wrap {
  padding: 20px 0;
  border-bottom: 5px solid #61dbfb;
  margin-bottom: 50px;
}

.header_wrap .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_wrap nav ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.header_wrap nav ul li a {
  text-decoration: none;
  font-size: 20px;
}

.header_logo {
  width: 80px;
  object-fit: contain;
}

.container {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}

img {
  width: 200px;
  max-width: 100%;
}

.row {
  display: flex;
  margin: 0 -10px;
}

.left_section {
  width: 40%;
  padding: 0 10px;
}

.center_section {
  width: 30%;
  padding: 0 10px;
}

.right_section {
  width: 30%;
  padding: 0 10px;
}

.footer_link {
  list-style-type: none;
}

.footer_link li {
  margin-bottom: 10px;
}

.footer_link a {
  text-decoration: none;
  font-size: 18px;
}

.footer_wrap {
  padding: 100px 0;
  border-top: 5px solid #61dbfb;
}

.footer_logo {
  width: 100px;
  object-fit: contain;
  margin-bottom: 20px;
}

.content_wrap {
  padding: 100px 0;
}
footer,
header {
  background-color: #1e1e1e;
  color: #ffffff;
}

footer a,
header a {
  color: #ffffff;
}

.section_wrap {
  padding: 50px;
  margin: 50px 0;
  box-shadow: 0 0 15px 0 rgba(97, 219, 251, 0.5);
  border-radius: 20px;
}

h1 {
  margin-bottom: 30px;
}
.statusWrap {
  list-style-type: none;
}
.status {
  color: green;
}
.status.complete {
  color: red;
}

.key_list {
  display: grid;
  list-style-type: none;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
.key_list li {
  display: flex;
  align-items: center;
  gap: 20px;
}
.key_list li img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #61dbfb;
  padding: 5px;
}
.key_list li p {
  width: 1%;
  flex: 1;
  margin: 0;
}
